html{
  scroll-behavior: smooth;
}

body{
background-color: #737373;
font-size: 18px;
margin: 0;
padding: 0;
color: white;
}

body::after{
  content: "";
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

h1{
font-size: 50px;
line-height: 1;
padding: 50px 0;
text-align: center;
}

h2{
font-size: 32px;
line-height: 1.5;
text-align: center;
}

p{
  text-align: center;
  color: white;
}

img{
  display: block;
  margin: 0 auto;
}

img:first-child{
  padding-top: 50px;
}
nav li{
display: inline;
padding-right: 20px;
}

nav{
background-color: #ddd;
padding: 25px 0;    
text-align: center;   
}

header p{
color: black;
font-size: 24px;
padding: 0 100px;
text-align: center;
}

footer{
background-color: black;
color: white;
padding-top: 30px;
text-align: center;
}

nav a{
color: black;
font-weight: bold;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

header{
background-attachment: fixed; 
background-position: center; 
background-size: cover; 
color: white;
height: 400px; 

background-image: url("../imgs/bell+tower mobile view.jpg");


background-repeat: no-repeat;
grid-column: 1 / -1;
grid-row: 1 / span 1;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#skip-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

@media screen and (min-width: 500px) {
  header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* make the current page have an undeline below the navbar */
nav a[href="<?php echo basename($_SERVER['PHP_SELF']); ?>"]{
  border-bottom: 2px solid white;
}







